<div class="container">
	<h1>Home</h1>
	<ul>
		<li><a href="/books">See all</a></li>
		<li><a href="/reader/wikireader">Reader App</a></li>
		<li><a href="/books/new">Add Content</a></li>
	</ul>
</div>