
<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
<script type="text/javascript">

$(document).ready(function(){
    
   //IMMEDIATE HIDES ---------------------------------
   $('#footnotes_debug').remove();
   $('.news-btn').hide();
   $('#menu-box').hide();

   
   //TOGGLE BUTTONS ---------------------------------
   $('#minimize').click(function(){
      $('#log-box').toggle();
   })
   $('#hide-menu').click(function(){
      $('#menu-box').toggle();
   })
   $('#news-options').click(function(){
      $('.news-btn').toggle();
   })


   //NEWS BUTTONS ------------------------------------------
   $('.news-btn').click(function(){
      var link = $(this).attr("news-src");
      $('#search-input').val(link);
      $('#new-link').submit();
   })


   //CONTROL PANEL BUTTONS ----------------------------------
   var color = "red";
   $('#color-tog').click(function(){
      if(color == "red"){
         $('#two').removeClass();
         color = "black";
      }
      else{
         $('#two').addClass('red');
         color = "red";
      } 
   })
   
   $('#clear-btn').click(function(){
      $('#one').text("");
      $('#two').text("");
      $('#three').text("");
   });


   //ON FORM SUBMIT ---------------------------------
   $('#new-link').on('submit', function(){
      
      
      //CHECK THAT INPUT IS NOT BLANK ---------------------------------
      var input = $('#search-input').val();
      if(input == ""){
         return false
      }
      
      
      //BEGIN AJAX ---------------------------------
      $.post(
         $(this).attr('action'),
         $(this).serialize(),        
         function(data){
         
            
            //CHECK IF DATA IS PROPERLY RECIEVED ---------------------------------
            console.log(data.type);
            console.log(data);
            ready();
         
            
            //GENERATING MENUS ---------------------------------
            if(data.type === "wikipedia"){
               console.log("wiki");
               menu_maker_wiki(data);
            }
            else if(data.type === "reddit"){
               console.log("reddit");
               data.message = "Select from menu.";
               menu_maker_reddit(data.titles, data.sources, data.links);
               $('#menu-box').show();
            }
            else if(data.type === "news"){
               console.log("Keeping menu.");
            }
            else{
               $('#menu').remove();
            }

 
            //CLICKING ON A MENU ITEM ---------------------------------
            $(document).on("click", ".menu-button", function(){
                  $("clear-btn").click();
                  
                  if(data.type === "wikipedia"){
                     var num = $(this).attr("art");
                     article = data.broker[num];
                  }
                  
                  counter = 0;
                  words = article.split(' ');
                  maxnum = words.length
                  ready();
            
            });

            $(document).on("click", ".menu-button-reddit", function(){
               $("clear-btn").click();
               counter = 0;
               article = "";
               words = [];

               var newslink = $(this).parent("li").attr("art-src");
               $('#search-input').val(newslink);
               $('#menukeeper').val("yes");
               $('#new-link').submit();
            
            });


            //WORD CHANGING FUNCTIONALITY ---------------------------------         
            var article = data.message;
            var words = article.split(' ');
            var maxnum = words.length;

            var counter = 0;
            
            if(!wpm){
               var wpm = 268;
            }
         
            $('select').change(function(){
               wpm = $('select option:selected').attr('value');
            }); 

            var paused = true
            var timeout;
            
            $("#play").click(function(){
               if(paused === true){
                  $('.controls').hide();
                  console.log("trying to start");
                  timeout = setInterval(callChange, wpm);
                  paused = false;
               }
               else{
                  $('.controls').show();
                  console.log("trying to pause");
                  window.clearInterval(timeout);
                  paused = true;
               }
            })

            $('#clear-btn').click(function(){
               article = "";
               counter = 0;
               words = ["cleared"];
               paused = true;
               $("#play").prop("disabled", true);
            });

            function callChange(){
               if(words.length != counter){
                  changeup(words, counter);
                  counter += 1;
               }
               //console.log(words[counter]); 
            }

         },//END SUCCESS FUNCTION
         
         "json"
      
      );//END POST

      return false;
                    
   })//END AJAX   

});//END OF JQUERY

</script>

<div id="menu-frame">
   <div id="menu-box"></div>
</div>

<div id="main-page-container">  
   <div id="log-box-frame">
      <div id="log-box">
         <br>
         <form action="/reader/wiki" id="new-link" method="post">
            <%= tag(:input,:type =>"hidden",:name => request_forgery_protection_token.to_s,:value => form_authenticity_token)%>
            <label>Topic:</label><br>
            <input id="search-input" type="text" name="link">
            <input id="menukeeper" type="hidden" name="menukeeper" value="no">
            <input type="submit" value="Go" id="convert">
         </form>
         <button id="news-options">News</button><br>
         <button class="news-btn" news-src="http://www.reddit.com/r/news/">US News</button>
         <button class="news-btn" news-src="http://www.reddit.com/r/worldnews/">World News</button>
         <button class="news-btn" news-src="http://www.reddit.com/r/moderatepolitics">Politics</button>
         <button class="news-btn" news-src="http://www.reddit.com/r/geopolitics">Geopolitics</button>
         <button class="news-btn" news-src="http://www.reddit.com/r/Foodforthought">Long Reads</button>
         <button class="news-btn" news-src="http://www.reddit.com/r/Futurology/">Futurology</button>
         <button class="news-btn" news-src="http://www.reddit.com/r/science">Science</button>
      </div>
   </div>

   <div id="book">
   	<div id="topbar" class="bar-small"></div>
   	<div id="reading-bar">
   		<div id="first-half"><b><p><span id="one">T</span></p></div><div id="second-half"><p><span id="two" class="red">h</span><span id="three">addeus</p></b></div>
   	</div>
   	<div id="bottombar" class="bar-small"></div>
   </div><!--end book -->
   <div id="controls">
      <button id="play"><%= image_tag "books.png" %></button>
      <select id="wpm" class="controls">
         <option value="500">Slow</option>
         <option selected value="268">220wpm</option>
         <option value="200">300wpm</option>
         <option value="150">400wpm</option>
         <option value="120">500wpm</option>
         <option value="100">600wpm</option>
         <option value="85">700wpm</option>
         <option value="75">800wpm</option>
         <option value="67">900wpm</option>
         <option value="60">1000wpm</option>
      </select> 
      <div id="button-box">
         <button class="controls" id="color-tog">red</button>
         <button class="controls" id="clear-btn">clear</button>
         <button class="controls" id="hide-menu">menu</button>
         <button class="controls" id="minimize">search</button>
      </div>
   </div>
</div>


